.css-1skw2h4 {
	margin-left: auto ;
	margin-right: auto ;
	border: 7px solid !important;
	border-color: #94D1EA !important;
	border-bottom-color: transparent !important;
	margin-top: 100px;
	margin-bottom: 100px;
	display: block !important;
}
